@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&display=swap');

$color_dark: #20222a;
$color_black: #111317;
$color_black_transparent: #111317d4;
$color_purple: #ff4d67;
$color_blue: #ff8a9b;
$color_light: #ecc1c8c2;
$color_white: #efefef;
$color_white_transparent: #efefef32;

$marge: 15px;

$font: 'Bricolage Grotesque', sans-serif;
