@import '../sass/variables';

.profil_main {
  z-index: 999;
  background-color: $color_dark;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: $marge;
  flex-direction: column;
  color: $color_white;
  width: 100dvw;
  min-height: 100dvh;
  padding: $marge;
  padding-top: 100px;
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $marge;
    h1 {
      font-size: 1.15rem;
    }
    h3 {
      font-weight: 200;
      font-size: 1rem;
    }
  }
  .cd_pp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    a {
      color: $color_white;
      border: 2px solid $color_white;
      padding: 10px 17px;
      text-align: center;
      border-radius: 50px;
    }
  }
  .follower {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: $marge;
    p {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: $marge / 4;
      font-weight: 100;
      font-size: 0.85rem;
      letter-spacing: 0.5px;
      b {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }
}
