;

.cd_bookmark {
  z-index: 999;
  width: 100dvw;
  background-color: $color_dark;
  header {
    display: flex;
    gap: $marge;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    div {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: $marge / 2;
      flex-direction: column;
      color: $color_white;
      h1 {
        font-size: 1.25rem;
        font-weight: 900;
      }
      h2 {
        font-size: 1rem;
        font-weight: 300;
      }
    }
  }
}
