* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  min-height: 100dvh;
}

// body {
//   margin: 0;
//   display: flex;
//   align-items: center;
//   background: $color-white;
//   flex-direction: column;
//   font-family: $font-common;
//   background: $color-white;
//   color: $color-purple;
//   font-size: clamp(15px, 0.75vw, 18px);
// }

// main {
//   width: $width;
//   height: $height-main;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
// }

// ::-moz-selection {
//   color: $color-orange !important;
//   background: transparent !important;
// }

// ::selection {
//   color: $color-orange !important;
//   background: transparent !important;
// }
