@import '../../sass/variables';

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  z-index: 999;
  height: 100dvh;
  background-color: $color-dark;
  position: fixed;
  inset: 0;
  article {
    width: clamp(350px, 60%, 500px);
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    overflow: hidden;
    padding: $marge;
    .changeForm {
      color: $color_white;
      cursor: pointer;
      align-self: flex-start;
      transform: translateY($marge);
      transition: all ease 0.3s;
      &:hover {
        color: $color_purple;
      }
    }
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: $marge;
      label {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: calc($marge);
        color: $color_blue;
        .label {
          position: absolute;
          transform: translate($marge, 0px);
          font-weight: 100;
          font-size: 1.1rem;
          color: rgba(194, 194, 194, 0.704);
          pointer-events: none;
          transition: all ease 0.3s;
        }
        input {
          border: none;
          background-color: transparent;
          border: 2px solid rgba(255, 255, 255, 0.15);
          border-radius: 10px;
          width: 100%;
          color: $color_white;
          height: 50px;
          padding: calc($marge);
          padding-bottom: 0;
          padding-top: calc($marge);
          display: flex;
          justify-content: flex-end;
          align-items: flex-end;
          transition: all ease 0.3s;
          &:focus {
            border: 2px solid $color_blue;
          }
          &:focus ~ .labelActive {
            color: $color_purple;
          }
        }
        .labelActive {
          transform: translate(calc($marge), -10px);
          font-size: 0.75rem;
        }
      }
      button,
      .btn_ouline {
        background-color: $color_purple;
        border-radius: 15px;
        border: none;
        outline: none;
        color: $color_white;
        font-weight: 700;
        width: 100%;
        font-size: 1rem;
        padding-block: $marge * 0.75;
        transition: all ease 0.3s;
        &:hover {
          border: 2px solid $color_purple;
          color: $color_purple;
          background-color: transparent;
        }
      }
      .btn_ouline {
        background-color: transparent;
        border: 2px solid $color_purple;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
          border-color: $color_white;
          color: $color_purple;
        }
      }
    }
  }
}
